*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    background-color: rgb(223, 221, 221);
}

header{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: whitesmoke;
    margin-bottom: 70px;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

main{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
}

.paginaFuncionarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 50px;
}

h1{
    margin: 30px;
}

form{
    margin: 30px;
    display: flex;
    width: 100%;
}

.campoBusca{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 7px;
}

input{
    height: 30px;
}

button{
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
    width: fit-content;
    height: 30px;
    align-self: flex-end;
    font-weight: bold;
    padding: 5px;
}

table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

th{
    background-color: whitesmoke;
}

th, td{
    border: 1px solid gray;
}

.modal-form{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
  
#form-funcionario{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: darkgray;
    box-shadow: 0px 0px 20px #000;
}

#btnAddFuncionario, .salvar, .cancelar{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.container-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

